.form-event {
    background-color: #212121;
    padding: 32px 28px;
    border-radius: 16px;
    width: 384px;
    max-width: 90%;
    margin: 64px auto;
}

.fields-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.action-button {
    margin-top: 32px;
    text-align: center;
}