body {
  margin: 0;
}

header {
  background-color: #06151A;
  padding: 32px;
  display: flex;
  justify-content: center;
}

.container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
  padding: 16px;
}

.events {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}