.card-event {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    width: 202px;
    color: #ffffff;
}

.card-event p,
.card-event h4 {
    margin: 0;
}

.card-event .card-body {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.card-event .card-tag {
    background-color: #4A4949;
    border-radius: 4px;
    padding: 8px;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 10%;
    text-transform: uppercase;
}

.card-event .card-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
}

.card-event .card-title {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
}